.account-delete-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
}
.account-delete-account-delete {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

#sub-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  width: 600px;
  height: 100vh;
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-out;

  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}

#sub-menu.submenu-on {
  visibility: visible;
  opacity: 1;
}

#open-btn,
#close-btn {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sub-menu-sub-menu {
  width: 100%;
  height: 1386px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

#sub-menu-main {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.sub-menu-sub-menu1 {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
}

.sub-menu-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.sub-menu-profile {
  top: 140px;
  left: 0px;
  position: absolute;
  z-index: 60;
  gap: 16px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(160, 160, 160, 1);
  border-bottom-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
}

.sub-menu-me {
  display: flex;
  height: 100%;
  align-items: center;
}

.sub-menu-union {
  width: 53px;
  height: 58px;
}

.sub-menu-text02 {
  color: rgba(0, 0, 0, 1);
  height: 100%;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-menu-hand-sign-list {
  top: 260px;
  left: 0px;
  position: absolute;
  z-index: 60;
  gap: 16px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
}

.sub-menu-fillablecard {
  display: flex;
  padding: 8px 0 0;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}

.sub-menu-union1 {
  width: 63px;
  height: 47px;
}

.sub-menu-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.sub-menu-log-out {
  top: 380px;
  left: 0px;
  position: absolute;
  z-index: 60;
  gap: 16px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
}

.sub-menu-update {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}

.sub-menu-union2 {
  width: 67px;
  height: 51px;
}

.sub-menu-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.sub-menu-sign-out {
  top: 500px;
  left: 0px;
  position: absolute;
  z-index: 60;
  gap: 16px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-bottom-width: 2px;
  justify-content: center;
}

.sub-menu-departure {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}

.sub-menu-union3 {
  width: 58px;
  height: 49px;
}

.sub-menu-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.sub-menu-close {
  width: 49px;
  height: 49px;
}

.sub-menu-close-button {
  top: 45px;
  left: 48px;
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.account-delete-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 133px;
  position: fixed;
  z-index: 20;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  border-bottom-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.account-delete-bar-text {
  display: flex;
  padding: 0px 40px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.account-delete-logo {
  width: auto;
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.account-delete-image {
  width: 250px;
  height: 100px;
}
.account-delete-page-title {
  gap: 16px;
  width: auto;
  height: 133px;
  display: flex;
  padding-right: 120px;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.account-delete-text {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.account-delete-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.account-delete-union3 {
  width: 58px;
  height: 49px;
}
.account-delete-text {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.account-delete-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.account-delete-hambirger-menu {
  width: 94px;
  height: 133px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.account-delete-stacked {
  gap: 2px;
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.account-delete-menu {
  width: 92px;
  height: 70px;
  flex-grow: 1;
  align-self: stretch;
}
.account-delete-text3 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.account-delete-main {
  margin-top: 133px;
  gap: 48px;
  padding: 40px 0px;
  z-index: 10;
  height: auto;
  overflow: hidden;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: column;
}
.account-delete-image2 {
  width: 330px;
  height: 350px;
}
.account-delete-text2 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 36px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.account-delete-button-field {
  gap: 42px;
  display: flex;
  padding: 0px 240px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.account-delete-log-in-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(61, 119, 86, 1);
  background-color: rgba(117, 183, 146, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  justify-content: center;
}
.account-delete-text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.account-delete-text10 {
  gap: 16px;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.account-delete-main-text {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-delete-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.account-delete-sub-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-delete-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

