.log-in-completed-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.log-in-completed-log-in-completed {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.log-in-completed-main {
  gap: 12px;
  width: 100%;
  display: flex;
  padding: 40px 0;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.log-in-completed-title {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.log-in-completed-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 80px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-completed-image2 {
  width: 380px;
  height: 245px;
  padding-bottom: 8px;
}
.log-in-completed-text2 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
  padding-bottom: 8px;
}
.log-in-completed-button-field {
  gap: 42px;
  display: flex;
  padding: 0 300px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-completed-log-in-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-primitivecolors_white-1000);
}
.log-in-completed-text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-completed-back-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(218, 218, 218, 1);
}
.log-in-completed-text6 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
