.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.sign-up-sign-up {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.sign-up-main {
  gap: 8px;
  display: flex;
  padding: 40px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.sign-up-title {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.sign-up-text {
  display: flex;
  padding: 0 0 0 75px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 80px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-image {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-image1 {
  width: 108px;
  height: 108px;
  padding-bottom: 20px;
}

.sign-up-input-area {
  gap: 36px;
  display: flex;
  padding: 20px 160px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.sign-up-text-field {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.sign-up-frame-input-label {
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text03 {
  color: rgba(0, 0, 0, 1);
  width: 109px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-requirement {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
}

.sign-up-text05 {
  top: 3px;
  color: var(--dl-color-light_text-alert);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-support-text {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text07 {
  color: var(--dl-color-light_text-description);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-input {
  gap: 8px;
  display: flex;
  padding: 20px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-light_background-primary);
}

.sign-up-id {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.sign-up-frame-input-label1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-requirement1 {
  width: 42px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-text11 {
  top: 3px;
  color: var(--dl-color-light_text-alert);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-support-text1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text13 {
  color: var(--dl-color-light_text-description);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-input1 {
  gap: 8px;
  display: flex;
  padding: 20px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-light_background-primary);
}

.sign-up-gender {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.sign-up-label {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-radio {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.sign-up-radiodefault {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-radiobutton {
  width: 27px;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-boundingbox {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  position: absolute;
}

.sign-up-radiobuttonunchecked {
  top: 2.8125px;
  left: 2.8125px;
  width: 21px;
  height: 21px;
  position: absolute;
}

.sign-up-text17 {
  color: var(--dl-color-light_text-body);
  width: 41px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 170.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-radiodefault1 {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-radiobutton1 {
  width: 27px;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-boundingbox1 {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  position: absolute;
}

.sign-up-radiobuttonunchecked1 {
  top: 2.8125px;
  left: 2.8125px;
  width: 21px;
  height: 21px;
  position: absolute;
}

.sign-up-text19 {
  color: var(--dl-color-light_text-body);
  width: 41px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 170.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-radiodefault2 {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-radiobutton2 {
  width: 27px;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-boundingbox2 {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  position: absolute;
}

.sign-up-radiobuttonunchecked2 {
  top: 2.8125px;
  left: 2.8125px;
  width: 21px;
  height: 21px;
  position: absolute;
}

.sign-up-text21 {
  color: var(--dl-color-light_text-body);
  width: 159px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 170.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-pass-word {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.sign-up-frame-input-label2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-requirement2 {
  width: 42px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-text25 {
  top: 3px;
  color: var(--dl-color-light_text-alert);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-support-text2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text27 {
  color: var(--dl-color-light_text-description);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-input2 {
  gap: 8px;
  display: flex;
  padding: 20px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-light_background-primary);
}

.sign-up-pass-word2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.sign-up-frame-input-label3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-requirement3 {
  width: 42px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.sign-up-text31 {
  top: 3px;
  color: var(--dl-color-light_text-alert);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-support-text3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-text33 {
  color: var(--dl-color-light_text-description);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-input3 {
  gap: 8px;
  display: flex;
  padding: 20px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: var(--dl-color-light_background-primary);
}

.sign-up-button-field {
  gap: 42px;
  display: flex;
  padding: 0 300px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.sign-up-resist-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-primitivecolors_white-1000);
}

.sign-up-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.sign-up-back-button {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(218, 218, 218, 1);
}

.sign-up-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}

.Password__visual{
  z-index: 20;
}