.start-scene-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.start-scene-start-scene {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.start-scene-main {
  gap: 8px;
  display: flex;
  padding: 40px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.start-scene-title {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.start-scene-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 88px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.start-scene-image1 {
  width: 380px;
  height: 330px;
  padding-bottom: 8px;
}
.start-scene-button {
  display: flex;
  padding: 0px 300px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.start-scene-secondary {
  gap: 4px;
  display: flex;
  padding: 24px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-primitivecolors_white-1000);
}

.start-scene-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
